ul li {	            	           
	list-style-type: none;
}
ul li a{
	font-size: 1.2em;
}

ul li ul li{	            	           
	list-style-type: disc;
	margin-left: 50px;				
}
ul li ul li a{
	font-size: 1.0em;	          					
}